nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2430;
    padding: 0px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    transition: 0.3s ease-in-out;
}
.navbar li a:hover{
    color:  rgb(153, 153, 244);
    /* color: blue; */
}
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(153, 153, 244);
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.ul{
    display: flex;
}
.ul li{
    list-style: none;
    position: relative;  
      
}
.ul li a.profile{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    transition: 0.3s ease-in-out;
    

}
.ul li a.profile:hover{
    color:  rgb(153, 153, 244);
    /* color: blue; */
}
.ul li a.profile:hover::after{
    content: "";
    width: 90%;
    height: 2px;
    background: rgb(153, 153, 244);
    position: absolute;
    bottom: 3px;
    left: 1px;
}



/* Drop down */
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    position: absolute;
    /* top: 100%; */
    left: 0;
    width: 200px;
    display: none;

    /* background-color: #f9f9f9; */
    /* background-color: #1b2430; */
    background-color:rgb(171, 163, 210);
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(67, 80, 92, 0.1);
  }
  
  .dropdown-content a {
    display: block;
    padding: 0.5rem 1rem;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .caret-icon {
    margin-left: 0.25rem;
  }
  
  .profile-icon {
    color: #fff;
  }
  
  .profile-icon:hover {
    color: #ccc;
  }
  